@import "null.css";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Merriweather:ital@1&display=swap');

body{
    font-family: "Lato" ;
    font-size: 20px;
    font-style: normal;
    
}


h1{
    font-size: 46px;
    font-weight: 900;
    line-height: 1.3;
    color: #1E212C;
}

.first{
    font-weight: 700;
    line-height: 1.5;
    color: #1E212C;
    text-align: left;
}

.black-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
}
.third{
    color: #1E212C;
    font-weight: 700;
    line-height: 1.5;
   
    }

.fourth{
    color: #424551;
    font-size: 16px;
    line-height: 1.6;
}
li{
    color: #424551;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
}
.last{
    color: #424551;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    ;
}    